<body> 
    <div class="container">
        <div class="row justify-content-center align-items-center middle">
            <div class="col-12 col-md-8 col-lg-4">
                <div class="card">
                    <div class="card-body px-5">
                        <h4 class="card-title text-center mb-4">
                            Login
                        </h4>
                        <form action="" (submit)="login()" #log="ngForm">
                            <div *ngIf="errorService.errorMessage" class="alert alert-danger">
                                {{errorService.errorMessage}}
                              </div>
                            <div class="form-floating mb-3">
                                <input name="username" type="text" class="form-control" id="floatingInput" placeholder="username" [(ngModel)]="user.username" required  #name="ngModel">
                                <label for="floatingInput">Username</label>
                              </div>
                              <div *ngIf="name.invalid && (name.touched || name.dirty)" class="alert alert-danger">
                                <p *ngIf="name.errors?.['required']">This field is required</p>
                              </div>
                              <div class="form-floating mb-3">
                                <input name="password" type="password" class="form-control" id="floatingPassword" placeholder="Password" [(ngModel)]="user.password" required #pass="ngModel">
                                <label for="floatingPassword">Password</label>
                              </div>
                              <div *ngIf="pass.invalid && (pass.touched || pass.dirty)" class="alert alert-danger">
                                <p *ngIf="pass.errors?.['required']">This field is required</p>
                              </div>
                              <div class="text-center">
                                <button type="submit" [disabled]="!log.valid" class="btn btn-primary my-4 px-5">Login</button>
                              </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>